<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{'/contatti/'+ ${contatto.id}+ '/edit'}"
      th:object="${contatto}"
      method="post">

    <label>nome</label>
    <input type="text" name="nome" th:field="*{nome}">
    <input type="text" name="cognome" th:field="*{cognome}">
    <input type="text" name="telefono" th:field="*{telefono}">
    <input type="submit">

</form>


</body>
</html>